<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>

    <a >搜索下联成功</a>              #这时候返回展现的是下联

        <p>
            <label>匹配的下联为：</label><input type="" name=""/>#这个应展示下联数据
        </p>



     <a >请继续搜索：</a>

    <form action="/student/login/" method="get">

        <p>
            <label>请输入上联：</label><input type="text" name="shang"/>
        </p>

        <p>
            &emsp;&emsp;&emsp;&emsp;<input type="submit" value="查看下联"/>
        </p>

    </form>

</body>
</html>